html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body__container {
    font-family: 'Roboto Serif', serif;
}

.bodyBackgdoundColor {
    background-color: #f6f9fa;
}

.js-advertisingBox {
    display: none;
}














