.table {
    overflow-x: auto;
    text-align: center;
    width: 100%;
    overflow-x: auto;
    font-size: 13px;
    border-collapse: collapse;
}

.table__cell {
    border: 1px solid rgb(158, 163, 164);
    padding: 5px;
}

.table__cell--header {
    background-color: #012174;
    color: white;
}

.table__row:nth-child(even) {
    background-color: rgb(217, 228, 232);
}

.table__row:hover {
    background-color: #ddd;
}

.table__secondHandCarPriceComparison {
    text-align: left;
}